/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
    }

/* CSS Variable */
:root {
    --navbar-height: 59px;
}


/* Navigation bar  */
#navbar {
    display: flex;
    align-items: center;
    position:  absolute;
    /* position:  sticky; */
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#logo img {
    height: 90px;
    margin: 3px 7px;
    border-radius: 23px;
}

 
#navbar ul {
    display: flex;
}

ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a{
    display: block;
    padding: 0px 11px;
    border-radius: 14px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}




#home{
    display: flex;
    flex-direction: column;
    padding: 3px 14px;
    justify-content: center;
    align-items: center;
    height: 590px;
}
#home::before{
content: "";
position: absolute;
background: url('b2.jpg')  no-repeat center center/cover;
height: 100%;
width: 100%;
z-index: -1;
/* opacity: 0.6; */
}

 .h-primary{
    font-size: 2.5rem;
    padding: 12px;
    color: white;
    text-align: center;
 }
 #home p{
    color: #ff9898;
    text-align: center;
 }
 #home #prim p:hover{
    color: wheat;
 }


 .btn{
    padding: 4px 10px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    font-size: 1.2rem;
    margin: 15px;
    border-radius: 15px;
    cursor: pointer;
 }
 .btn:hover{
    background-color: white;
    color: black;
 }
 .center{
    text-align: center;
 }
 .h-secondary{
    font-size: 1.5rem;
    padding: 12px;
 }
#services{
    display: flex;
    margin: 34px;
}
#services .box{
border: 3px solid red;
margin: 0px 2px; 
border-radius: 36px;
background-color:rgb(204 161 245 / 50%);
transition:all 1s ease-in;
}


#services .box:hover{
width: 2000px;
height: 423px;
border: 3px solid black;
background-color: purple;
color: white;
text-shadow: -15px -2px 2px grey;
}


#services .box img{
    height:193px;
    width: 195px;
    display: block;
    margin: auto;
}
#separate{
    color: black;
    font-style: italic;
} 



#head2{
    color: black;
}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
#client-section{
    height:340px ;
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(s2.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.80;

}
.client-items{
    padding: 17px;
}
#clients img{
    height: 50px;
} 

#clients img:hover{
    width: 100px;
    height: 50px;
}


#contact{
    position: relative;
}
#contact::before{ 
    content: "";
    position:absolute;
    background: url(l2.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.34;
}

#contact-box{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    font-size: 1.1rem;
    border-radius: 9px;
    text-align: center;
}


#head3{
    color: black;
}

footer{
    background-color: black;
    color: white;
}
